@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap'); /*Inter*/
/*
Cores:
  azul: #264CF5
  branco: #BCB7DE
  preto: #000000
  cinza texto: #5D5D5D
  cinza hover: #2E2E2E
*/
.App {
  display: flex;
  flex-direction: row;
  background-color: rgb(14, 14, 14);
  overflow: hidden;
}

.Menu{
  background-color: #222222;
  border-radius: 5pt;
  margin: 5px;
  width: 25%;
  height: 84.1vh;
}

.Main {
  background-color: #222222;
  border-radius: 5pt;
  margin: 5px;
  width: 80%;
  height: 84.1vh;
}

#Library{
  font-family: Cabin;
  font-size: 15pt;
  color:white;
  height: 100%;
}

#Library-title{
  display: flex;
  align-items: center;
  padding-left: 5%;
  cursor: default;
}

#Library-title p{
  margin-left: 10px;
}

#Library-title img{
  width: 25px;
  height: 25px;
}

#Library-playlist{
  height: calc(50vh - 15vh);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track 
::-webkit-scrollbar-track {
  background: #9C9A9A; 
}*/
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 5pt;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#Main-header{
  margin-left: 10pt;
  color: white;
}

#Music-list{
  height: calc(85vh - 15vh);
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
