@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap'); /*Cabin*/

#logo{
    display: flex;
    position: relative;
    top: 0px;
    margin-left:10px;
    justify-content: flex-start;
    align-items: center;
    color: #264CF5;
    font-family: Cabin;
    font-size: 18pt;
    font-weight: 700;
}

#logo img{
    height: 60px;
}