#Player{
    width: 100%;
    /*height: 80px;*/
    height: 15vh;
    bottom: 0%;
    position: fixed;
    background-color: rgb(14, 14, 14);;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Player-music{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.Player-music-image{
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.Player-music-image img{
    width: 50px;
}

#Player-bar{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Control-Play-bar{
    height: 35px;
    display: flex;
    align-items: center;
}

.Play-Pause-button{
    width: 35px;
    height: 35px;
    margin: 0 15px;
}

.Play-Pause-button:active{
    width: 33px;
    height: 33px;
}

.Next-Previous-button{
    width: 20px;
    height: 20px;
}

.Next-Previous-button:active{
    width: 18px;
    height: 18px; 
}

#Progress-bar{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Bar{
    display: flex;
    height: 5px;
    width: 90%;
    border-radius: 5px;
    background-color: #555;
    /*variavel de progresso*/
    /*--progress: 50*/
}
#Bar:before{
    content: '';
    width: 50%;
    background-color: white;
    border-radius: 5px;
}

.Music-time{
    margin-top: 10px;
    color: #5D5D5D;
    font-family: Cabin;
    font-size: 9pt;
    margin: 0 5px;
}

#Player-volume{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Volume-icon{
    width: 25px;
    margin-right: 5px;
}

.Volume-icon:active{
    width: 23px;
}

#Volume-bar{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

#Slider{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    border-radius: 5px;
    background: #555555;
}

#Slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
    background: #264CF5;
}

#slider::-webkit-slider-runnable-track{
    height: 5px;
    border-radius: 5px;
    background-color: aquamarine;
}

#Slider::-moz-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
    background: #264CF5;
}

#slider::-moz-slider-runnable-track{
    height: 5px;
    border-radius: 5px;
    background-color: aquamarine;
}